html, body {
  margin: 0;
}

.backgroundimage {
  text-align: center;
  background: url(http://i49.photobucket.com/albums/f280/619serb/NerdGuy.png);
  background-size: cover;
  height: 800px;
}

.text {
   color: white;
   font-family: sans-serif;
   width: 940px;
   margin: 0;
   padding: 600px 0 0 300px;
}
