html, body {
  margin: 0;
}

.backgroundimage {
  text-align: center;
  background-image:url('../images/space-bg.png');
  background-size: cover;
  height: 800px;
}

.text {
   color: white;
   font-family: sans-serif;
   width: 940px;
   margin: 0;
   padding: 600px 0 0 300px;
}
